html, body {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

body {
    background-color: aliceblue;
    display: flex;
    align-items: center;
}

.h1 {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 5vh;
    margin-left: 5vw;
    margin-right: 5vw;
}

.box {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: black;
    border-radius: 15px;
    box-shadow: 0 0 8px black;
    padding: 30vh;
    margin-left: 30vw;
    margin-right: 30vw;
    margin-bottom: 5vh;
    gap: 15px;
}

input {
    display: flex;
    border-radius: 5px;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 1vw;
    padding-right: 1vw;
    font-size: 15px;
}

.submit {
    display: flex;
    background-color: lightblue;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 1vw;
    padding-right: 1vw;
    font-size: 15px;
    box-sizing: 10vw;
}

.submit:hover{
    background-color: rgb(106, 164, 184);
    color: black;
}